<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_adminfragment::head(~{::title},~{})">
    <meta charset="utf-8">
    <title>库存管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/lib/layui/css/layui.css"/>
    <script src="../../static/lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="_adminfragment::header"></div>
    <div th:replace="_adminfragment::side('book')"></div>
    <div class="layui-body">
        <div style="padding:20px;">
            <button class="layui-btn layui-btn-sm" id="refresh-inv">刷新</button>
            <table class="layui-hide" id="inventory_tb" lay-filter="inventory_tb"></table>
            <script type="text/html" id="inv_bar">
                <a class="layui-btn layui-btn-xs" lay-event="adjust">调整库存</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="restock">补货(从采购)</a>
            </script>
        </div>
    </div>
    <div th:replace="_adminfragment::footer"></div>
</div>
<script th:src="@{/js/admin/inventory.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>


