<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.bookshop.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.shop.bookshop.pojo.Admin">
    <result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectByAdminName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select admin_name, password from admin where admin_name = #{adminName}
  </select>

  <insert id="insert" parameterType="com.shop.bookshop.pojo.Admin">
    insert into admin (admin_name, password) values (#{adminName}, #{password})
  </insert>
</mapper>


