.book-detail-box{
	position: relative;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	margin: 20px 50px;
	min-height: 250px;
}
.book-detail-box img{
	width: 250px;
}
.book-detail-box .no-image-placeholder{
	width: 250px;
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background: #f5f5f5;
	border: 2px dashed #e0e0e0;
}
.book-detail-box .no-image-text{
	color: #999;
	font-size: 16px;
	font-weight: 500;
}
.book-detail-box .details-info{
	position: absolute;
	/* background-color: #009688; */
	top:0px;
	right: 100px;
	padding: 25px 50px;
	width: 550px;
}
.book-detail-box .details-info p{
	margin: 5px;
}
.book-detail-box .details-info .name{
	font-size: 20px;
	/* color: #01AAED; */
	/*font-style: oblique;*/
}
.book-detail-box .details-info .desc{
	color: #aaa;
}
.book-detail-box .details-info .price{
	color: red;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.book-detail-box .original-price{
	text-decoration: line-through;
	color: #999;
	font-size: 14px;
	font-weight: normal;
}

.book-detail-box .discount-text{
	color: #ff5722;
	font-size: 12px;
	font-weight: normal;
}

.book-detail-box .discounted-price{
	color: red;
	font-size: 16px;
	font-weight: bold;
}

.book-detail-btn{
    padding: 10px 20px;
	float: right;
	background-color: #303030;
    
}

.book-detail-inner-btn{
    border-radius: 8px;
	
}

.book-detail-inner-btn-green{
	background-color: #5FB878;
}
.layui-container .btn{
	margin: 0px 50px;
	float: right;
}
.layui-container .btn .qty-input{
	padding: 5px;
	margin-right: 20px;
}


.footer{
	bottom: 0px;
	position: fixed;
}